@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;1,200;1,400&family=Josefin+Sans:ital,wght@0,400;1,600&family=Outfit:wght@400;700&family=Roboto+Slab:wght@300;400&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
 }

 body{
     font-family: "Roboto-Slab", sans-serif;
     background-color: rgb(82, 36, 109);
     min-height: 100vh;
     display: flex;
     align-items: center;
     font-size: 15px;
 }
 .container{
     width: 360ph;
     margin: 0 auto;

 }
 .container-card{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 0 2rem;

 }
 .container-card h2{
    color: rgb(64, 63, 63);
    margin-bottom: 5px;
    font-weight: 700;
 }
 .container-card p{
    color: rgb(96, 4, 117);
    font-weight: bold;
 }